
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Kitchen</title>

    <link rel="shortcut icon" href="{% static 'images/Favicon.png' %}">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg smart-navbar">

        <div class="container">

            <a class="navbar-brand smart-logo"
               href="{% url 'home' %}">
                🥗 MyKitchen
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarContent">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse"
                 id="navbarContent">

                <ul class="navbar-nav ml-auto align-items-lg-center">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                        Home
                        </a>
                    </li>

                    {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'input_form' %}">
                               Ingredients
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipe_list' %}">
                               Recipes
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'online_recipe_search' %}">
                               Online Recipes
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                               Logout
                            </a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                               Login
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">
                               Register
                            </a>
                        </li>

                    {% endif %}

                </ul>

            </div>

        </div>

    </nav>

    {% include 'rrs_app/message.html' %}

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>